/*VARIABLES*/
$white: #FFF;
$background-dark: #111111;
$accent_color: #FAC231;
$font-stack: Fraunces, Georgia, serif;
/*ROOT STYLES*/
html {
    background: $background-dark;
    font-family: $font-stack;
    color: $white;
}
body {
    padding: 0 100px;
    @media screen and (max-width: 900px) {
        padding: 0 40px;
    }
    @media screen and (max-width: 440px) {
        padding: 0 20px;
    }
}
body > * { position:relative; }