---
layout: default
title: My Works
---
{% include navbar.html %}
<section class="grid-container-3column">
    {% for case-study in site.case-studies %}
    <div class="grid-item-project project-1">
        <a href="{{ site.baseurl }}{{ case-study.url }}"><img src="{{ case-study.thumbnail }}" alt=""
                class="thumbnail"></a>
        <div class="tag-group-project">
            {% for tag in case-study.tags %}
            <div class="tag-project">{{ tag }}</div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</section>
<div class="hr-line hr-project"></div>
<P style="text-align: center;" class="headline">🖼️Other snippets design</P>
<section class="gallery">
    <div class="i1">
        <img src="{{ site.baseurl }}asset\img\work-gallery\01.png" alt="">
        <p class="work-caption">FIGMA DESIGN NOTEBOOK (Ebook)<br><a href="https://telos.vn/gioi-thieu-ve-figma-design-notebook/">🔗Website order</a> | <a href="https://drive.google.com/open?id=1mAm9GIY9x_wEjUkgxVo_o_IeVb1IuX8x">📖Read ebook</a></p>
    </div>
    <div class="i2">
        <img src="{{ site.baseurl }}asset\img\work-gallery\02.png" alt="">
        <p class="work-caption">I wrote a small ebook that call FIGMA DESIGN NOTEBOOK. It contains some basic knowledge
            about user interface design, technique about Figma and many resource that you can explore yourself.</p>
    </div>
    <div class="i3">
        <img src="{{ site.baseurl }}asset\img\work-gallery\03.png" alt=""">
        <p class=" work-caption">Social post for Figma Design Course</p>
    </div>
    <div class="i4">
        <img src="{{ site.baseurl }}asset\img\work-gallery\04.png" alt="">
        <p class="work-caption">Social post for Sunrider</p>
    </div>
    <div class="i5">
        <img src="{{ site.baseurl }}asset\img\work-gallery\05.png" alt="">
        <p class="work-caption">Icon design for Tet Holiday</p>
    </div>
    <div class="i6">
        <img src="{{ site.baseurl }}asset\img\work-gallery\06.png" alt="">
        <p class="work-caption">Key Visual Concept for MC Thanh Thai Portfolio</p>
    </div>
    <div class="i7">
        <img src="{{ site.baseurl }}asset\img\work-gallery\07.png" alt="">
        <p class="work-caption">A website concept for Vietnam Airline Heritage Magazine</p>
    </div>
    <div class="i8">
        <img src="{{ site.baseurl }}asset\img\work-gallery\08.png" alt="">
        <p class="work-caption">Key Visual for TELOS's Creative Course</p>
    </div>
    <div class="i9">
        <img src="{{ site.baseurl }}asset\img\work-gallery\09.png" alt="">
        <p class="work-caption">Label concepts for VietSwan Brand</p>
    </div>
    <div class="i10">
        <img src="{{ site.baseurl }}asset\img\work-gallery\10.png" alt="">
        <p class="work-caption">Key Visual for Serial Event Chat Viet - By TELOS</p>
    </div>
    <div class="i11">
        <img src="{{ site.baseurl }}asset\img\work-gallery\11.png" alt="">
        <p class="work-caption">Fitness App Concept</p>
    </div>
    <div class="i12">
        <img src="{{ site.baseurl }}asset\img\work-gallery\12.png" alt="">
        <p class="work-caption">Pebsteel Website Cocept (for pitching)</p>
    </div>
    <div class="i13">
        <img src="{{ site.baseurl }}asset\img\work-gallery\13.png" alt="">
        <p class="work-caption">A screen from Mam Project</p>
    </div>
    <div class="i14">
        <img src="{{ site.baseurl }}asset\img\work-gallery\15.png" alt="">
        <p class="work-caption">Website concept for iConsulting</p>
    </div>
    <div class="i15">
        <img src="{{ site.baseurl }}asset\img\work-gallery\14.png" alt="">
        <p class="work-caption">Print Design for Smavt Company</p>
    </div>
    <div class="i16">
        <img src="{{ site.baseurl }}asset\img\work-gallery\16.png" alt="">
        <p class="work-caption">Event website for Vinacecook (Pitching)</p>
    </div>
    <div class="i17">
        <img src="{{ site.baseurl }}asset\img\work-gallery\17.png" alt="">
        <p class="work-caption">Contest website for Tet Holiday Campaign (Traveloka)</p>
    </div>
</section>
{% include footer.html %}
{% include lazyload.html %}
<script>
    hamburger = document.querySelector(".hamburger");
    hamburger.onclick = function () {
        navBar = document.querySelector(".nav-bar")
        navBar.classList.toggle("active")
        hamburger = document.querySelector(".hamburger");
        hamburger.classList.toggle("active-hamburger")
    }
    /*Active trên menu navbar*/
    active = document.querySelector(".works-menu");
    active.classList.add("active")
</script>