---
layout: default
title: My Works
---
{% include navbar.html %}
{% include footer.html %}
<script>
    hamburger = document.querySelector(".hamburger");
    hamburger.onclick = function () {
        navBar = document.querySelector(".nav-bar")
        navBar.classList.toggle("active")
        hamburger = document.querySelector(".hamburger");
        hamburger.classList.toggle("active-hamburger")
    }
    /*Active trên menu navbar*/
    active = document.querySelector(".works-menu");
    active.classList.add("active")
</script>