---
layout: default
title: My Works
---
{% include navbar.html %}
<section class="grid-container-3column">
    {% for case-study in site.case-studies %}
    <div class="grid-item-project project-1">
        <a href="{{ case-study.url }}"><img src="{{ case-study.cover }}" alt="" class="thumbnail"></a>
        <div class="tag-group-project">
            {% for tag in case-study.tags %}
            <div class="tag-project">{{ tag }}</div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</section>
{% include footer.html %}
<script>
    hamburger = document.querySelector(".hamburger");
    hamburger.onclick = function () {
        navBar = document.querySelector(".nav-bar")
        navBar.classList.toggle("active")
        hamburger = document.querySelector(".hamburger");
        hamburger.classList.toggle("active-hamburger")
    }
    /*Active trên menu navbar*/
    active = document.querySelector(".works-menu");
    active.classList.add("active")
</script>