form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 50px auto;
    padding: 32px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 42px;
    background: rgba(22, 22, 22, 0.93);
    p.headline {
        margin-top: 16px;
        text-align: center;
        margin-bottom: 16px;
    }
    p.paragraph {
        text-align: center;
        margin-bottom: 32px;
        opacity: 0.5;
    }
    @media screen and (max-width: 600px) {
        padding: 20px;
        p.headline {
            font-size: 32px;
            font-weight: 700;
        }
        p.paragraph {
            font-size: 14;
            font-style: italic;
            margin-bottom: 24px;
        }
    }
}
fieldset#fs-frm-inputs {
    display: flex;
    flex-direction: column;
    input {
        height: 48px;
        border-radius: 10px;
        margin-bottom: 24px;
        background-color: rgba($color: #ffffff, $alpha: 0.1);
        border: none;
        color: rgba($color: #ffffff, $alpha: 0.6);
        padding: 0 16px;
        font-family: fraunces;
        @media screen and (max-width: 600px) {
            margin-bottom: 20px;
        }
    }
    label {
        margin-bottom: 8px;
        color: rgba($color: #fff, $alpha: 0.9);
        font-size: 18px;
        @media screen and (max-width: 600px) {
            margin-bottom: 20px;
            font-size: 16px;
            margin-bottom: 8px;
        }
    }
    textarea {
        border-radius: 10px;
        margin-bottom: 32px;
        background-color: rgba($color: #ffffff, $alpha: 0.1);
        border: none;
        color: rgba($color: #ffffff, $alpha: 0.6);
        padding: 16px 16px;
        font-family: fraunces;
    }
}
@media screen and (min-width: 768px) {
    .cover.contact-cover {
        display: flex;
        flex-direction: column;
        min-block-size: 100vh;
        .center-div {
            margin-block: auto;
        }
    }
}
