/* HOMEPAGE */
.grid-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 50px 0 70px 0;
}
.grid-item.two-columns {
    padding: 0;
    text-align: left;
    grid-column: span 2;
}
.grid-item.testimonial-item {
    grid-column-start: 4;
    grid-column-end: 5;
    padding-top: 10px;
}
.avatar {
    width: 122px;
}
.title {
    color: white;
    font-size: 80px;
    text-align: left;
    line-height: 100%;
    font-family: Fraunces;
    font-weight: 900;
    margin-top: 32px;
    margin-bottom: 32px;
}
.description {
    color: white;
    opacity: 70%;
    text-align: left;
    font-size: 24px;
    font-family: fraunces;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 130%;
}
#contact {
    color: white;
    opacity: 90%;
    font-family: fraunces;
    font-size: 16px;
    font-weight: 300;
    margin-top: 50px;
    font-style: italic;
    a {
        color: white;
        font-style: italic;
    }
}
.btn-group {
    display: flex;
    gap: 16px;
}
.btn {
    padding: 12px 24px;
    border-radius: 99px;
    border: none;
    font-family: fraunces;
    font-size: 16px;
    background: #fac231;
    cursor: pointer;
    transition: 0.2s;
}
.btn a {
    text-decoration: none;
    color: #111111;
}
.btn.resume-btn a {
    color: white;
}
.btn.resume-btn {
    background-color: transparent;
    color: white;
    border: 1px solid #ffffff6e;
}
/*TESTIMONIAL*/
.testimonial-item {
    display: flex;
    flex-direction: column;
}
.avatar-testimonial {
    width: 58px;
}
.testimonial-header {
    color: #fff;
    font-family: Fraunces;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 12px 0;
}
.testimonial-quote {
    color: #fff;
    font-family: Fraunces;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    opacity: 70%;
    margin: 0;
}
.testimonial-last {
    margin-top: 30px;
}
.thumbnail-redesign {
    width: 100%;
    transition: 0.2s;
}
.thumbnail-redesign:hover {
    transform: rotate(-3deg) scale(105%);
}
@media screen and (max-width: 900px) {
    .title {
        font-size: 60px;
    }
    .testimonial-item {
        margin-top: 120px;
    }
    .grid-item.testimonial-item {
        grid-column-start: 3;
        grid-column-end: 5;
        padding-top: 20px;
        padding-left: 20%;
    }
}
@media screen and (max-width: 440px) {
    .grid-item.two-columns {
        grid-column: span 4;
    }
    .grid-item.testimonial-item {
        grid-column: span 4;
        margin: 20px 0 0 0;
        padding: 0;
    }
    #contact {
        margin-top: 20px;
        font-size: 14px;
    }
    .title {
        font-size: 40px;
        margin-bottom: 30px;
    }
    .description {
        font-size: 20px;
        margin-bottom: 20px;
    }
}
.btn:hover {
    transform: scale(105%) rotate(-3deg);
}
@media screen and (min-width: 1440px) {
    .cover {
        display: flex;
        flex-direction: column;
        min-block-size: 100vh;
        .center-div {
            margin-block: auto;
        }
    }
    .grid-container {
        margin: 0;
    }
}
/*OVERLAY GRAINED*/
body::before {
    content: "";
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
    top: 0;
    left: 0;
    height: 500%;
    width: 500%;
    position: fixed;
    opacity: 0.03;
    animation: animateGrain 8s steps(10) infinite;
    pointer-events: none;
    z-index: 1;
}

@keyframes animateGrain {
    0%,
    100% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-5%, -10%);
    }
    20% {
        transform: translate(-15%, -20%);
    }
    30% {
        transform: translate(-5%, -10%);
    }
    40% {
        transform: translate(-15%, -20%);
    }
    50% {
        transform: translate(-5%, -10%);
    }
    60% {
        transform: translate(-15%, -20%);
    }
    70% {
        transform: translate(-5%, -10%);
    }
    80% {
        transform: translate(-15%, -20%);
    }
    90% {
        transform: translate(-5%, -10%);
    }
    100% {
        transform: translate(-15%, -20%);
    }
}
.avatar-container {
    position: relative;
    display: inline-block;
  }
  .avatar {
    display: block;
  }
  .overlay-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../asset/img/avatar-hover.webp') center center no-repeat; /* Thay thế 'your-gif.gif' bằng đường dẫn đến hình gif của bạn */
    background-size: cover;
    opacity: 0; /* Ẩn overlay ban đầu */
  }
  .avatar-container:hover .overlay-avatar {
    opacity: 1; /* Hiển thị overlay khi hover */
  }