.grid-container-3column {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    margin: 50px 0 70px 0;
    width: 100%;
  }
  .grid-item-project {
    /* border: 1px solid #ddd; /* Viền để phân biệt các ô */
    padding: 0;
    text-align: left;
  }
  .grid-item-project a img {
    width: 100%;
  }
  .tag-group-project {
    display: flex;
    gap: 12px;
    margin-top: 6px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .tag-project {
    display: inline-block;
    border-radius: 99px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
  }
  @media screen and (max-width: 1280px) {
    .grid-container-3column {
      grid-template-rows: auto auto auto;
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (max-width: 440px) {
    .grid-container-3column {
      grid-template-rows: auto auto auto auto auto auto;
      grid-template-columns: 1fr;
    }
  }
  .thumbnail {
    transition: 0.2s;
    width: 100%;
  }
  .thumbnail:hover {
    transform: scale(105%) rotate(-1deg);
  }