header {
    img {
        opacity: 0.5;
    }
    .hamburger {
        display: none;
        @media screen and (max-width: 900px) {
            display: block;
            cursor: pointer;
            .line {
                width: 30px;
                height: 3px;
                border-radius: 99px;
                background: #fefefe;
                margin: 6px 0;
                transition: 0.2s;
            }
        }
        &.active-hamburger {
            .line-1 {
                transform: rotate(45deg) translateY(6px);
                transform-origin: center center;
            }
            .line-2 {
                display: none;
            }
            .line-3 {
                transform: rotate(-45deg) translateY(-6px);
                transform-origin: center center;
            }
        }
    }
    .nav-bar {
        display: flex;
        @media screen and (max-width: 900px) {
            height: 0px;
            position: absolute;
            top: 80px;
            right: 0;
            left: 0;
            width: 100%;
            border: 1px solid rgba(255, 255, 255, 0);
            border-radius: 30px;
            background: rgba(17, 17, 17, .93);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            transition: 0.2s;
            overflow: hidden;
            z-index: 999;
            ul {
                display: block;
                width: fit-content;
                margin: 20px auto 0 auto;
                opacity: 0;
                transition: 0.5s;
            }
            a {
                display: block;
                text-align: center;
            }
            &.active {
                border: 1px solid rgba(255, 255, 255, 0.05);
                height: 190px;
                ul {
                    opacity: 1;
                }
            }
        }
    }
    position: relative;
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
    padding-top: 32px;
    ul {
        display: flex;
        a {
            display: inline-block;
            padding: 12px;
            font-size: 24px;
            color: white;
            opacity: 70%;
            transition: 0.2s;
            &:hover {
                opacity: 1;
            }
            &.active {
                opacity: 1;
            }
        }
    }
}
