<footer>
  <hr>
  <div class="footer">
    <div class="social-icon-group">
      <a href="tel:{{ site.mobile }}" class="social-icon"><img src="{{ site.baseurl }}\asset\img\social\ico-phone.svg"
          alt="mobile icon"></a>
      <a href="mailto:{{ site.email }}" class="social-icon"><img src="{{ site.baseurl }}\asset\img\social\ico-mail.svg"
          alt="mail icon"></a>
      <a href="{{ site.facebook }}" class="social-icon"><img src="{{ site.baseurl }}\asset\img\social\ico-facebook.svg"
          alt="facebook icon"></a>
      <a href="{{ site.linkedin }}" class="social-icon"><img src="{{ site.baseurl }}\asset\img\social\ico-linkedin.svg"
          alt="linedin icon"></a>
    </div>
    <p>⚒️By Jay Dinh, 2024</p>
  </div>
</footer>