<header>
    <a href="{{ site.baseurl }}\index.html">
       <img src="{{ site.baseurl }}\asset\img\logo.svg" alt="logo">
    </a>
    <div class="hamburger">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
    </div>
    <nav class="nav-bar">
        <ul class="menu">
            <li><a href="{{ site.baseurl }}\index.html" class="home-menu">Home</a></li>
            <li><a href="{{ site.baseurl }}\my-works.html" class="works-menu">Works</a></li>
            <li><a href="{{ site.baseurl }}\my-resume.html" class="resume-menu">My Resume</a></li>
            <li><a href="{{ site.baseurl }}\contact.html" class="contact-menu">Contact</a></li>
        </ul>
    </nav>
</header>