<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}
    <div class="head-article">
        <div>
          <p class="publish-date">✍️ Published: {{ page.published }}</p>
          <h1 class="title title-work">
            {{ page.title }}
          </h1>
          <div class="tag-group-project tag-work-page">
            {% for tag in page.tags %}
            <div class="tag-project">{{ tag }}</div>
            {% endfor %}
          </div>
        </div>
        <img data-src="{{ site.baseurl}}{{ page.cover }}" alt="" class="lazyload"/>
      </div>
      <div class="hr-line hr-project"></div>
    <!-- CONTENT START -->
    <section class="main-content-project">
        <div class="main-content-container">
            {{ content }}
        </div>
    </section>
    <!-- CONTENT END -->
    {% include three-random-posts.html %}
    {% include footer.html %}
    <script>
        hamburger = document.querySelector(".hamburger");
        hamburger.onclick = function () {
            navBar = document.querySelector(".nav-bar")
            navBar.classList.toggle("active")
            hamburger = document.querySelector(".hamburger");
            hamburger.classList.toggle("active-hamburger")
        }
        /*Active trên menu navbar*/
        active = document.querySelector(".works-menu");
        active.classList.add("active")
    </script>